// Fonts
/*@import url('https://fonts.googleapis.co?m/css?family=Nunito');*/

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bulma/sass/utilities/_all";
// Set your colors
$primary: #363636;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
    );

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import '~@mdi/font/scss/materialdesignicons';

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.err,#card-errors{
    color: red;
}
.notification{
    padding: 0;
    background-color: initial;
}
/*admin auth form*/
.admin-form{
    padding: 2rem;
    border: 1px solid #e5e5e7;
    background:#fff; 
    border-radius: 5px;
    width: 360px;
}
.admin-form-notification{
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.admin-login-container{
    background-size: cover;
    overflow: hidden;
}

.toast{
   flex-basis: initial;
}

.pagination-list{
    a{
        text-decoration: none !important;
        &:hover{
            border: 1px solid #363636;
        }
    }
    .is-current {
        color: #fff !important;
    }

}
.pagintaed-custom{
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    .paginate-text,
    .paginate-text-right{
        display: flex;
        align-items: center;
        padding: .5rem;
        font-size: 11pt;
        input{
            width: 40px;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
    .pagination.is-centered{
        margin-bottom: 0px;
    }
}

.notification.is-success.is-top-right,
.notification.is-danger.is-top-right{
    padding: 1rem;
    .media-content{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-right: 1.5rem;    
    }
}

.dropdown.is-hoverable:hover .dropdown-menu {
    display: inherit;
    margin-top: 0px;
}

tr.is-inactive {
    background: #848686 !important;
    color: #fff;
}
.feature-wp{
    display: flex;
    padding: 1rem;
}
.collapse.card{
    display: block;
}
td{
    vertical-align: middle !important;
}
/*header*/
.custom-cart{
    display: flex;
    align-items: center;
    color: #4A4A4A;
}
.dot{
    position: absolute;
    color: white;
    top: 30px;
    left: 28px;
    background: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    text-align: center;
}
.header-df{
    padding-top: 4.35rem;
    .navbar-item img{
        max-height: 80px;
    }
    .navbar-brand{
        margin-left: 3rem;
    }
}
.header-mb{
    .navbar-item img{
        max-height: 80px;
    }
}

.categories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    /* box-shadow: 0 5px 10px -1px grey; */
    background: #fff;
    border-bottom: 1px solid;
    z-index: 20;
}

a.navbar-item:hover{
    background: transparent;
    color: #9c9c9c;
}

.navbar-item a:hover{
    color: #9c9c9c;
}

.header-prod-dropdown{
    .dropdown-menu{
        padding: 0px;
        min-width: 0px;
    }
}

.dropdown.is-hoverable:not(.is-active) .dropdown-menu{
    width: -webkit-fill-available;
}
.dropdown-content{
    width: inherit;
}

.top-offset{
    top: 4.5rem;
}
.container-df{
    top: 4.5rem;
    padding-bottom: 5rem;
}

.container-mb{
    top: 2.5rem;
    padding-bottom: 2.5rem;
}
.navbar-mb{
    .navbar-brand{
        width: 100%;
    }
}
/*footer*/
#footer{
    ul{
        li{
            padding: .2rem 0;
        }
    }
}
.footer-hr{
    border:1px solid #fff;
}
.footer-list{
    list-style: none !important;
}
.footer-logo > img{
    max-width: 200px;
    max-height: 60px;
}
#footer{
    background-color: #404040;
    color: #f8fafc;
    padding-bottom: 2rem;
}
.line{
    background-color: #777;
}
ul{
    padding-left: 0;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 3;
    border: 2px solid #fff;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: .2rem;
    opacity: 0.8;
}
#myBtn:hover{
    background-color: #5f5f5f;
}
#myBtn:hover i{
    color: #fff;
}
.footer-link{
    color: #fff;
}
.footer-link:hover{
    color: #e6e6e6;
}
.footer-link.p-0.m-0,
.footer-link.p-0.m-0.router-link-exact-active.router-link-active{
    color: #fff !important;
}
.snackbar.is-success.is-bottom{
    background: #7a7a7b;
    a{
        color: #80d0ff;
    }
}
/*collapsible*/
.collapsible {
    background-color: #404040;
    color: #fff;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.content {
    padding: 0 18px;
}
.angle{
    margin-right: 5px;
}
.footer-title{
    font-size: larger;
    font-weight: bold;
}
/*login form*/
.auth-form-wrapper,
.reset-email-form-wrapper,
.reset-form-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.reset-email-form,
.reset-form,
.auth-form-wrapper form{
    width: 360px;
    padding: 2rem;
    border: 1px solid #e5e5e7;
}
/*success page*/
.success-wp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
/*carousel*/
.is-active .al img {
    filter: grayscale(0%);
}
.al img {
    filter: grayscale(100%);
}
.carousel-item{
    display: block;
    img{
        height: 50vh;
    }
}
.carousel-wp{
    margin-top: 4.5rem;
}